*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu', sans-serif;
    /* background-color: red; */
}

@media screen and (min-width: 320px) and (max-width: 600px){
    .restriction{
        display: none;
    }
    .container{
        width: 100%;
        height: 100vh;
        float: left;
        border: 2px solid red;
        position: relative;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .navigations{
        width: 100%;
        /* height: 60px; */
        float: left;
        background-color: black;
        position: fixed;
        bottom: 0 ;
        /* left: 0; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .home{
        width: 30px;
        height: 30px;
        float: left;
        /* border: 1px solid red; */
        margin: 7%;
    }
    .logo{
        width: 100%;
    }
    .logo1{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}







@media screen and (min-width: 600px) and (max-width: 5000px){
    .conainer, .home, .logo, .logo1{
        display: none;
    }
    .restriction{
        display: flex;
    }
}